body {
  font-family: Arial, sans-serif;
  background-color: #fff8f0;
  margin: 20px;
}

header {
  background-color: #e63946;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h2 {
  color: #e63946
}
